/* font-family: 'Karla', sans-serif; */
:root{
    /*primary*/
    --Cyan: hsl(179, 62%, 43%);
    --Cyan-2: rgb(74,190,189);       
    --Bright-Yellow: hsl(71, 73%, 54%);
    /*neutral*/
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    
}
html{
    font-family: 'Karla', sans-serif; 
    font-size: 16px;  
    font-weight: 400; 
}

body{
    background-color: var(--Light-Gray);
    margin: 4rem 2rem; 
}

.container{  
    display: grid;
    grid-template-rows: 260px 200px 260px;
    border-radius: 0.5rem;    
    overflow: hidden;    
    box-shadow: 0.5rem 2rem 7rem var(--Grayish-Blue);
}

.header{    
    background-color: white;
    padding: 1.5rem;      
}

.header__title{    
    color: var(--Cyan);
    font-size: 20px;
}

.header__subtitle{    
    color: var(--Bright-Yellow);    
    font-weight: 700;
}

.header__text{
    color: var(--Grayish-Blue);
    font-size: 14px;
    line-height: 1.7rem;       
}

.main{
    color: white;   
}

.main-container{  
    padding: 1.5rem;
}

.main-container:first-child{
    background-color: var(--Cyan);
}

.main-container:last-child{
    background-color: var(--Cyan-2);
}

.main__subtitle{
    margin-top: 0;   
    font-size: 20px;
    font-weight: 700;
}

.main__price{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.main__text{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.main__text--number{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 1rem;
}

.main__text--limited-time{
    color: rgb(114,224,223);
}

.main__button{
    background-color: var(--Bright-Yellow);
    text-align: center;    
    font-weight: 700;
    padding: 1rem 0;
    margin-bottom: 0;
    border-radius: 0.5rem;    
}

.main__text-why{
    font-size: 13px;
    line-height: 20px;
}

